
@use 'partial';

body {
    box-sizing: border-box;
    margin: 0;
    font-family: partial.$font;
    padding: 0;
    background-color: partial.$prim-color;
    font-size: 16px;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 60px;
    margin: 20px;
    z-index: 1001;
    
    @include partial.shadows();

    a {
        font-size: 2.5rem;
        padding: 20px 40px;
        color: partial.$sec-color;
        text-decoration: none;
    }

    i {
        padding-right: 40px;
        font-size: 2.5rem;
        color: partial.$sec-color;
        
    }

    :hover {
                color: orange;
                transition: .5s;
            }
}


main {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 15px;
}


.section1 {
    grid-column: 2/8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .projects {
        display: flex;
        flex-direction: column;
        width: fit-content;
        gap: 70px;

        a {
            border-radius: 50px;
            padding: 20px 30px;
            text-decoration: none;
            font-size: 1.4rem;
            color: partial.$sec-color;

            @include partial.shadows();

            &:hover {
                color: orange;
                transition: .5s;
            }
        }
    }

    img {
        grid-area: 6/7;
        max-width: 700px;

    }
}
