
@use 'partial';

body {
    box-sizing: border-box;
    margin: 0;
    font-family: partial.$font;
    padding: 0;   
    font-size: 16px;
    background-color: partial.$prim-color;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edecf7d2;
    box-shadow:
    0 8px 30px #aaa9be;
    z-index: 1001;

    .nav-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 20px;
        gap: 10px;

        img {
            height: 100px;
        }

        a {
            font-size: 2.5rem;
            color: partial.$sec-color;
            text-decoration: none;
        }

        :hover {
                color: orange;
                transition: .5s;
            }
}
    }

    i {
        padding-right: 40px;
        font-size: 2.5rem;
        color: partial.$sec-color;
        
        &:hover {
                color: orange;
                transition: .5s;
            }
}


    




.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    border-bottom: 1px solid partial.$line-color;

    h1 {
        padding-left: 100px;
        line-height: 1.8;
        color: partial.$sec-color;
        font-size: 3rem;
    }

    img {
        
        max-width: 700px;
    }
}


.portfolio {
    padding-top: 30px;

    h2 {
        display: flex;
        justify-content: center;
        color: partial.$sec-color;
        font-size: 2rem;
        padding-bottom: 80px;
    }

    .projects {
        display: flex;
        flex-direction: row;
        width: fit-content;
        justify-self: center;
        gap: 70px;
        padding-bottom: 100px;


        a {
            border-radius: 50px;
            padding: 20px 30px;
            text-decoration: none;
            text-align: center;
            font-size: 1.4rem;
            color: partial.$sec-color;
            
            @include partial.shadows();

            &:hover {
                color: orange;
                transition: .5s;
                
            }
        }
    }

} 

